@use '../../styles/tailwind-vars' as tv;

.inputContainer {
    display: flex;
    align-items: center;
    position: relative; 
    
    background-color: tv.$white;
    
    border: 1px solid tv.$gray-300;
    border-radius: 0.5rem;
    height: tv.$height-input-xl;
    width: 100%; 
    max-width: tv.$width-input-xl;
    margin: 0 auto;
}

.inputField {
    flex-grow: 1; 
    border: none;
    background: transparent;
    height: 100%; 
    
    padding-left: 1rem;
    padding-right: 3rem;
    
    font-size: tv.$text-lg;
    color: tv.$gray-900;

    &:focus {
        outline: none;
        border: 1px solid tv.$purple-500; 
        border-radius: 0.5rem;
        box-shadow: 0 0 0 1px tv.$purple-500;
    }
    
    &::placeholder {
        color: tv.$gray-500;
    }
}

.searchIcon {
    position: absolute;
    right: 1rem; 
    width: 1.25rem; 
    height: 1.25rem;
    cursor: pointer;
    
    filter: invert(40%); 
}