@use "../../styles/tailwind-vars" as tv;

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: tv.$spacing-4 0;

	max-width: tv.$max-w-xl;
	margin: 0 auto;
}

.icon {
	width: 3rem;
	height: auto;
	margin-bottom: tv.$spacing-6;
}

.title {
	font-size: tv.$text-3xl;
	font-weight: tv.$font-regular;
	color: tv.$gray-900;
	margin-bottom: tv.$spacing-4;
}

.description {
	font-size: tv.$text-lg;
	color: tv.$gray-700;
	line-height: 1.5;
	text-align: center;
}
