@use '../../styles/tailwind-vars' as tv;

.footerContainerWhite {
  background-color: tv.$white;
  color: tv.$gray-700;
  padding: tv.$spacing-16 0 tv.$spacing-8;
}

.contentWrapper {
  max-width: tv.$max-w-6xl;
  margin: 0 auto;
  padding: 0 tv.$spacing-8;

  @media (min-width: tv.$lg) {
    padding: 0 tv.$spacing-12;
  }
}

.topSection {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
    gap: tv.$spacing-16;
    padding-bottom: tv.$spacing-4;
  
    @media (min-width: tv.$md) {
      flex-direction: row;
      align-items: flex-start;
      gap: tv.$spacing-32;
    }
  }

.brandColumn {
  flex: 1;
  max-width: 18rem;
}

.logoWrapper {
  display: flex;
  align-items: center;
  margin-bottom: tv.$spacing-4;
}

.iconStyle {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: tv.$spacing-2;
  filter: invert(1) sepia(1) saturate(20) hue-rotate(250deg) brightness(0.9);
}

.brandTitle {
  font-size: 16px;
  font-weight: 600;
  color: tv.$purple-500;
}

.sloganText {
  color: tv.$gray-700;
  font-size: 14px;
  max-width: 18rem;
  text-align: left; 
}

.linkColumn {
    display: flex;
    flex-direction: column;
    gap: tv.$spacing-2;
    text-align: center;
    min-width: 8rem;
    margin-bottom: tv.$spacing-8; 

    @media (min-width: tv.$md) {
        margin-bottom: 0;
        margin-left: tv.$spacing-16;
        text-align: left;
    }
}

.headingTitle {
  font-weight: 600;
  color: tv.$gray-900;
  margin-bottom: tv.$spacing-4;
  text-transform: capitalize;
  font-size: 16px;
}

.footerLink {
  color: tv.$gray-600;
  font-size: 14px;
  transition: color 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    color: tv.$purple-600;
  }
}

.copyrightText {
  padding-top: tv.$spacing-8;
  margin-top: tv.$spacing-4;
  border-top: 1px solid tv.$gray-200;
  text-align: center;
  color: tv.$gray-600;
  font-size: 14px;
}
