@use "../../styles/tailwind-vars" as tv;

.itemContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: tv.$white;
	border: 1px solid tv.$gray-100;
	border-radius: tv.$spacing-2;
	padding: tv.$spacing-4 tv.$spacing-6;
	margin-bottom: tv.$spacing-4;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out;

	&:hover {
		background-color: tv.$gray-50;
	}
}

.itemContent {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	min-width: 0;
}

.mainInfo {
	display: flex;
	align-items: center;

	gap: tv.$spacing-4;
	flex-wrap: wrap;
}

.titleText {
	font-size: tv.$text-lg;
	font-weight: tv.$font-regular;
	color: tv.$gray-900;
	word-break: break-word;
	flex-shrink: 1;
	flex-grow: 0;
	min-width: 0;
}

.dateText {
	font-size: 0.875rem;
	color: tv.$gray-600;
	margin-top: 0.25rem;
}

.arrowIcon {
	width: 1.5rem;
	height: 1.5rem;
	flex-shrink: 0;
	color: tv.$gray-500;
	margin-left: tv.$spacing-4;
}
