name: CI (coverage)

on:
  pull_request:
  push:
    - develop
    - master

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        with:
          version: 10.0.0

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm Install

      - name: Test coverage core
        run: cd libs/core && pnpm run test:coverage

      - name: Test coverage blockchain-bridge
        run: cd libs/blockchain-bridge && pnpm run test:coverage

      - name: Test coverage core
        run: cd libs/langchain && pnpm run test:coverage